

<span i18n="site header|An introduction header for this sample@AppComponent:stringTranslation">
  Hello i18n!
</span>
<BR />
<span
  i18n="@AppComponent:stringTranslationWithHTML"
>
  <input type="checkbox" >
  Do you agree
</span>
<BR />

<span i18n>
  Updated: {minutes, plural,
  =0 {just now}
  =1 {one minute ago}
  other { {{minutes}} minutes ago by { gender, select, m {male} f {female} o {other}} } }
</span>
<BR />
<span i18n>The author is {gender, select, m {male} f {female} o {other} }</span>
